<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoginAutomation">
	 
<listeners>

      <listener class-name="org.uncommons.reportng.HTMLReporter"/>

      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>

  </listeners>


	<test verbose="1" name="LoginAutomation" annotations="JDK">
		<packages>
			<package name="com.selenium.testcase"/>
		</packages>
	</test>
	
	
</suite>